#Mo-Ride{
  font-size: 500%;
  position: center;
}
#logo{
  position: center;
  margin-left: auto;
}

#buttons{
  position: relative;
  text-align: center;
  background-color: white;
  margin-left: 100px;
}

#signIn{
  display: flex;
  margin-left: 100px;
}

#signOut{

}

.abcRioButtonContentWrapper{
  margin-left: 150px;
}
.sub{
  text-align: center;
}
